
body {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}
.text-secondary {
    color: #484848; }

.text-tiny {
    font-size: .8rem; }

.text-italic {
    font-style: italic; }

.text-muted {
    color: #868686; }

.text-warning {
    color: #f0ad4e; }

.text-danger {
    color: #B85C5C; }

.page-title {
    margin: 2rem 0; }

.text-left {
    text-align: left !important; }

.text-right {
    text-align: right !important; }

.text-center {
    text-align: center !important; }

.text-justify {
    text-align: justify !important; }

.bold {
    font-weight: 400; }

.bolder {
    font-weight: 500; }

.title {
    margin-bottom: 2rem; }

.cursor-pointer {
    cursor: pointer; }

@media (min-width: 544px) {
    .text-sm-left {
        text-align: left !important; }
    .text-sm-right {
        text-align: right !important; }
    .text-sm-center {
        text-align: center !important; } }

@media (min-width: 768px) {
    .text-md-left {
        text-align: left !important; }
    .text-md-right {
        text-align: right !important; }
    .text-md-center {
        text-align: center !important; } }

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left !important; }
    .text-lg-right {
        text-align: right !important; }
    .text-lg-center {
        text-align: center !important; } }

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important; }
    .text-xl-right {
        text-align: right !important; }
    .text-xl-center {
        text-align: center !important; } } 

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 300;
    line-height: 1.4;
    color: inherit;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}
@media (max-width: 768px) {
    h1 {
        font-size: 2rem }

    h2 {
        font-size: 1.5rem; }

    h3 {
        font-size: 1.25rem; }

    h4 {
        font-size: 1rem; }

    h5 {
        font-size: .8rem; }
        
    h6 {
        font-size: .6rem; }
}
    